<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Bu uygulama fotoğraf galerinize erişmek istiyor</string>
	<key>NSCameraUsageDescription</key>
	<string>Bu uygulama kameranıza erişmek istiyor</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Bu uygulama mikrofonunuza erişmek istiyor</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
